body {  
    background-image: url("VendingMachineBackground.png");
    background-size: cover;
} 

h1{
    background-color: #5AC4F6;
    border-radius: .5em;
    text-align: center;
    padding: .7em 1em;
}

header{ 
    display: flex;
    justify-content: center;    
}

nav, .aboutwindow{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 27px;
    top: 184px;
    border-radius: 0.6em;
    height: 47.3vh;
    width: 36.3vh;
}

a:has(p), div:has(.banner){
    display: flex;
    justify-content: center;
    color: white;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: white;

}

a > p, .banner{
    margin: 0;
    background-color: #8597B3;
    border: 1px solid #375075;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 80%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 1px;
}

.rij1{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 2vh;
    margin-bottom: 1.3vh;
}
.rij2{
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 2vh;
    margin-bottom: 1.3vh;
}

.rij3{
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-top: 0.8vh;
}

img{
    max-height: 8.5vh;
} 

.Hmenu{
    position: absolute;
    top: 14px;
    left: 270px;
}

.window{
    background-color: white;     
    border-radius: 0.68em;
    height: 48vh;
    width: 36.4vh;
}

.window p{
    margin: 0;
    background-color: #8597B3;
    border: none;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    width: 6em;
    margin-top: 9px;
    border-bottom: 10px solid #375075;
}

section{
    background-color: white;
}

.popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 110px;
    top: 220px;
    border-radius: 0.6em;
    height: 30vh;
    width: 20vh;
    background-color: rgb(182, 175, 175);
}

h2{
    margin: 0;
}